@model Biblioteca.WebApp.Areas.Admin.Pages.General.Livros.LocacaoVM

<table class="table mb-3">
    <thead>
        <tr>

            <th class="text-center text-nowrap" style="width:1%;">
                <button type="button" class="btn btn-outline-primary btn-sm p-1"
                        onclick="adicionarRegistro();">
                    <i class="bi bi-plus-circle"></i>
                </button>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].LivroId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].DataDeSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registros[0].DataDeDevolucao)
            </th>
        </tr>
    </thead>
    <tbody id="det-registros">
        @for (int i = 0; i < Model.Registros.Count; i++)
        {
            Model.Registros[i].Index = i;

            @await Html.PartialAsync(
            "_RegistrosDeLocacaoGridRow",
                Model.Registros[i]);
        }
    </tbody>
</table>
